{# {% extends 'base.html.twig' %} #}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">

<!-- possible content values: default, black or black-translucent -->
<meta name="apple-mobile-web-app-status-bar-style"
    content="black-translucent">
	<meta name="theme-color" content="#665775">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

	<link href="player.css" rel="stylesheet">
	<script src="Sortable.min.js"></script>	
	{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmediatags/3.9.5/jsmediatags.min.js"></script> #}
	<script src="jsmediatags.js"></script>
	<script src="player.js"></script>
	<script src="editinfo.js"></script>
	
</head>
{% block body %}
<body onload="initPage()"> 
	<div id='playlistBuilder' class="playlistBuilder hiddenWhileLoad" selected="1">
		<div class="tab">
			<button class="tablinks" onclick="openCity(event, 'Mood')">Mood</button>
			<button class="tablinks" onclick="openCity(event, 'Artist')">Artist</button>
			<button class="tablinks" onclick="openCity(event, 'Album')">Album</button>
			<button class="tablinks" onclick="openCity(event, 'Year')">Year</button>
			<button class="tablinks" onclick="openCity(event, 'Search')"><b style="font-size:x-large">⌕</b></button>
		</div>
		<div id="Mood" class="tabcontent">
			{% for mood in moods %}
				<span class="builderFilter" id="{{mood}}" data-el="mood-{{mood}}" selected="0">{{mood}}</span>
			{% endfor %}
		</div>
		<div id="Artist" class="tabcontent">
			{% for artist in artists %}
				<span class="builderFilter" id="{{artist}}" data-el="artist-{{artist}}" selected="0">{{artist}}</span>
			{% endfor %}
		</div>
		<div id="Album" class="tabcontent">
			{% for album in albums %}
				<span class="builderFilter" id="{{album}}" data-el="album-{{album}}" selected="0">{{album}}</span>
			{% endfor %}
		</div>
		<div id="Year" class="tabcontent">
			{% for year in years %}
				<span class="builderFilter" id="{{year}}" data-el="year-{{year}}" selected="0">{{year}}</span>
			{% endfor %}
		</div>
		<div id="Search" class="tabcontent">
			<h3>Coming soon..</h3>
		</div>

		<h1 onclick="buildQueueQuery();hideShowPlaylistBuilder()" style="z-index:99999999"><b style="color:#665775;-webkit-text-stroke: 1px black;font-style: italic;">🍌 Banana 🍌</b></h1>
		<div class="builderToggleContainer" onclick="hideShowPlaylistBuilder();">
			<a  id="buildertoggle" class="toggle on"><span></span></a>
		</div>
	</div>




	{# <div ><button onclick="test('lol')" style="z-index:9999;position:absolute;top:200px;left:100px">loool</button></div> #}



	<div id="player" class="player" onload="initPage()">
		<div id="currSongMoodEditor">
			{% for mood in moods %}
				<span class="currSongMoodUnq" id="currSong-{mood}}" data-el="mood-{{mood}}" selected="0">{{mood}}</span>
			{% endfor %}
		</div>
		<div id="playerMenu"></div>
		<div class="songInfo">
				<div id="coverArtContainer">
					<img id="coverArt" src="/favicon.ico">
				</div>
				<br>
				<div id="currentTitleArtistContainer">
					<div id="currentArtist" class="currentArtist">Artist</div>
					<div id="currentTitle" class="currentTitle">Title</div>
				</div>
		</div>
		<div id="playerBar"></div>
		<div class="playerControlContainer">
			<div id="previousButton">Previous</div>
			<div id="playPauseButton" onclick="playAudio();">Play/Pause</div>
			<div id="nextButton" onclick="nextSong()">Next</div>
		</div>
	</div>
	<div id="queueContainer"  class="queueContainer queueContainerHidden hiddenWhileLoad" selected="0">
		<div class="queueToggleContainer" onclick="hideShowQueueContainer();">
			<a id="queuetoggle" class="toggle"><span></span></a>
		</div>
		<div id="queueContainerContent"></div>
	</div>


<div id="html5audio">
    <audio id="audioPlayer"
        controls
        src="AutomaticallyAddedToBanana/Alpha%20Wann%20&%20Népal%20-%20De%200%20à%20100-3cIObgePakE.mp3">
    </audio>
</div>
<div class="modalExtBackground modal" id="modalExtBackground" onclick="closeInfo()"></div>
<div class="editInfoContainer modal" id="editInfoContainer">
		<div id="getInfoSongIDContainer">
			<input type="text" id="inputsongid" name="inputname" value="1" autocomplete="off">
			<button id="getInfo" onclick="getInfo()">Get Info</button>
		</div>
		<hr>
		<form id="infoCreateForm" action="/info/create" method="GET">
			<div class="edit-info" style="z-index: 999;">
				<input type="number" id="songID" name="id" value="1" readonly>
				<br>
				<input type="text" id="songYear" name="year" value="songYear">
				<br>
				<input type="text" id="songName" name="title" value="songName">
				<div id="artistInput"></div>
				<ul id="moodul" class="ks-cboxtags moods-container"></ul>
			</div>
			<input type="submit" value="Update">

		</form>
</div>
	
</body>
<script>
	const player = document.getElementById('player');
	const playerCurrentTitle = document.getElementById('currentTitle');
	const playerCurrentArtist = document.getElementById('currentArtist');
	const playerCoverArt = document.getElementById('coverArt');

	const divs = document.querySelectorAll('.builderFilter');

	{# divs.innerHTML = decodeURI(divs.innerHTML); #}
</script>


{% endblock %}
