{# {% extends 'base.html.twig' %} #}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">

<!-- possible content values: default, black or black-translucent -->
<meta name="apple-mobile-web-app-status-bar-style"
    content="black-translucent">
	<meta name="theme-color" content="#665775">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

	<link href="player.css" rel="stylesheet">
	<script src="/jquery-3.6.0.js"></script>
	<script src="Sortable.min.js"></script>	
	{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmediatags/3.9.5/jsmediatags.min.js"></script> #}
	<script src="jsmediatags.js"></script>
	<script src="color-thief-min.js"></script>
	<script src="player.js"></script>
	<script src="editinfo.js"></script>
	
</head>
{% block body %}
<body onload="initPage()"> 
	<div id='playlistBuilder' class="playlistBuilder hiddenWhileLoad" selected="1">
		<div class="tab">
			<button class="tablinks" onclick="openCity('moodFilterMain')" id="moodFilterMainMenu">Mood</button>
			{# <button class="tablinks" onclick="openCity('artistFilterMain')" id="artistFilterMainMenu">Artist</button>
			<button class="tablinks" onclick="openCity('albumFilterMain')" id="albumFilterMainMenu">Album</button>
			<button class="tablinks" onclick="openCity('yearFilterMain')" id="yearFilterMainMenu">Year</button> #}
			<button class="tablinks" onclick="openCity('searchMain')" id="searchMainMenu"><b style="font-size:x-large">⌕</b></button>
		</div>
		<div id="moodFilterMainTab" class="tabcontent">
			{% for mood in moods %}
				<span class="builderFilter noselect" id="{{mood}}" data-el="mood-{{mood}}" selected="0">{{mood}}</span>
			{% endfor %}
		</div>
		<div id="artistFilterMainTab" class="tabcontent">
			{% for artist in artists %}
				<span class="builderFilter noselect" id="{{artist}}" data-el="artist-{{artist}}" selected="0">{{artist}}</span>
			{% endfor %}
		</div>
		<div id="albumFilterMainTab" class="tabcontent">
			{% for album in albums %}
				<span class="builderFilter noselect" id="{{album}}" data-el="album-{{album}}" selected="0">{{album}}</span>
			{% endfor %}
		</div>
		<div id="yearFilterMainTab" class="tabcontent">
			{% for year in years %}
				<span class="builderFilter noselect" id="{{year}}" data-el="year-{{year}}" selected="0">{{year}}</span>
			{% endfor %}
		</div>
		<div id="searchMainTab" class="tabcontent">
			<form id="addMoodForm" action="/info/create/mood" method="GET">
				<div class="edit-info" style="z-index: 999;">
					<div class="form__group field">
						<input type="text" id="newMood" class="form__field" placeholder="Music" name="mood" value="Music" required>
						<label for="newMood" class="form__label">Mood</label>
					</div>
				</div>
				<input type="submit" value="Update">
			</form>
		</div>

		<h1 id='playlistBuilderLaunchButton' onclick="buildQueueQuery(playQueue);hideShowPlaylistBuilder()" style=""><b class="noselect" style="color:#FFFFFF;">🍌 Play <span id="playlistSize"></span> songs 🍌</b></h1>
		<div class="builderToggleContainer" onclick="hideShowPlaylistBuilder();">
			<a id="buildertoggle" class="toggle on"></a>
		</div>
	</div>




	{# <div ><button onclick="test('lol')" style="z-index:9999;position:absolute;top:200px;left:100px">loool</button></div> #}



	<div id="player" class="player" onload="initPage()">
		<div id="currSongMoodEditor">
			{% for mood in moods %}
				<span class="currSongMoodUnq noselect" id="currSong-{{mood}}" data-el="mood-{{mood}}" onclick="updateMood(this)" selected="0">{{mood}}</span>
			{% endfor %}
		</div>
		<div id="playerMenu"></div>
		<div class="songInfo">
				<div id="coverArtContainer">
					<img id="coverArt" src="/favicon.ico">
				</div>
				<br>
				<div id="currentTitleArtistContainer">
					<span id="currentArtist" class="currentArtist noselect">Artist</span>
					<span id="currentTitle" class="currentTitle noselect">Title</span>
				</div>
		</div>
		<div id="playerBar"></div>

		<div class="palette"></div>

		<div class="playerControlContainer">
			<div id="previousButton" onclick="previousSong()" class="arrow arrow--left"></div>

			<div class="playbutton" id="playPauseButton" onclick="playAudio();"></div>
			<div id="nextButton" onclick="nextSong()" class="arrow arrow--right"></div>
		</div>
	</div>
	<div id="queueContainer"  class="queueContainer queueContainerHidden hiddenWhileLoad" selected="0">
		<div class="queueToggleContainer" onclick="hideShowQueueContainer();">
			<a id="queuetoggle" class="toggle"></a>
		</div>
		<div id="queueContainerContent"></div>
	</div>


<div id="html5audio">
    <audio id="audioPlayer"
        controls
        src="">
    </audio>
</div>
<div class="modalExtBackground modal" id="modalExtBackground" onclick="closeInfo()"></div>
<div class="editInfoContainer modal" id="editInfoContainer">
	<div class="formContainer">
			<form id="infoCreateForm" action="/info/create" method="GET">
				<div class="edit-info" style="z-index: 999;">
					<div class="form__group field">
						<input type="number" id="songID" class="form__field" name="id" placeholder="ID" value="420" readonly required>
						<label for="id" class="form__label">ID</label>
					</div>
					<div class="form__group field">
						<input type="number" id="songYear" class="form__field" placeholder="Year" name="year" value="1997" required>
						<label for="year" class="form__label">Year</label>
					</div>
					<br>
					<div class="form__group field">
						<input type="text" id="songName" class="form__field" placeholder="Title" name="title" value="Saturday Night" required>
						<label for="title" class="form__label">Title</label>
					</div>
					<div id="artistInputContainer"></div>
				</div>
				<input type="submit" value="Update">

			</form>
	</div>
</div>
	
</body>
<script>
	const player = document.getElementById('player');
	const playerCurrentTitle = document.getElementById('currentTitle');
	const playerCurrentArtist = document.getElementById('currentArtist');
	const playerCoverArt = document.getElementById('coverArt');

	const divs = document.querySelectorAll('.builderFilter');
</script>

{% endblock %}
